#main {
    article{
        time {
            font-size: 0.85em;
        }

        h1.postTitle{
            margin-top: 0.2em;
        }

        ul.pagination {
            margin-top: 2em;
            padding: 0;
            list-style: none;
            li:first-child {
                float: left;
            }
            li:last-child {
                text-align: right;
                float: right;
            }
        }
        ul.pagination + hr {
            clear: both;
            margin-top: 5em;
        }

    }
}

ul.tag_category_list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;
        line-height: 1em;
        margin-top: 1em;
        a {
            padding: 3px 8px;
            /*background: lighten(@header, 40);*/
            border-radius: 3px;
            text-decoration: none;
            border: 1px dashed ;
        }
    }
}

.article-author-side {
    .license {
        margin-top: 3em;
    }
}
//Github Markdown CSS https://gist.github.com/andyferra/2554919 
table {
    padding: 0; 
    tr {
        border-top: 1px solid #cccccc;
        background-color: white;
        margin: 0;
        padding: 0;
        th {
            font-weight: bold;
            border: 1px solid #cccccc;
            text-align: left;
            margin: 0;
            padding: 6px 13px;
        }
        td {
            border: 1px solid #cccccc;
            text-align: left;
            margin: 0;
            padding: 6px 13px;
        }
        th :first-child {
            margin-top: 0;
        }
        td :first-child {
            margin-top: 0;
        }
        th :last-child {
            margin-bottom: 0;
        }
        td :last-child {
            margin-bottom: 0;
        }
    }
    tr:nth-child(2n) {
        background-color: #f8f8f8;
    }
}

.article-wrap{
    p+p {
        text-indent: 0;
        margin-top: 0;
    }
    img {
        margin-bottom: 5px;
        margin-top: 5px;
        box-shadow: 3px 3px 3px #888888;
    }
}
