<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="articles" itemscope itemtype="http://schema.org/WebPage">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
<div class="article-author-side">
    {% include _author-bio.html %}
</div>

<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <h1 itemprop="name">{{ page.title }}</h1>

  <div>
        <section class="tag">
            <ul class="tag_category_list">
                {% for tag in site.tags %}
                <li>
                    <a href="/tag/{{ tag | first | slugize }}/"> {{ tag | first }}&nbsp;<span class="badge">{{ tag | last | size}}</span></a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
    <hr style="visibility:hidden;">
    <div>
        <section>
        {% capture tags %}
            {% for tag in site.tags %}
                {{ tag[0] }}
            {% endfor %}
        {% endcapture %}
        
        {% assign sortedtags = tags | split:' ' | sort %}
        
        {% for tag in sortedtags %}
            <h3>{{tag}}</h3>
            <ul>
                {% for post in site.posts %}
                    {% for otag in post.tags %}
                        {% if tag == otag %}
                            <li class="alink"><a href="{{ post.url }}" class="red-link">{{ post.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}    
            </ul>
        {% endfor %}
        </section>
    </div>

{% assign sortedtags = nil %}

</div><!-- /#index -->
</div><!-- #main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
